/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(15, 15, 15);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: white;
}

#tabs {
    display: flex;
    gap: 50px;
}

/* Parallex */

.page3 {
    width: 100%;
    height: 100%;
    margin-top: 50px 0px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-blend-mode: multiply;
}

/* .container .section:nth-child(1) {
    background: #f00 url(images/Maybach\ S-Class.jpg);
    background-size: cover;
    background-attachment: fixed;
} */

.container .section:nth-child(2) {
    background: #f00 url(images/Maybach\ S-Class.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    filter: saturate(0%);
}

.container .section:nth-child(2):hover{
    filter: saturate(100%);
}

.container .section:nth-child(3) {
    background: rgb(255, 217, 1) url(images/Mercedes\ AMG\ GT\ C\ Roadster.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    filter: saturate(0%);
}

.container .section:nth-child(3):hover {
    filter: saturate(100%);
}

.container .section:nth-child(4) {
    background: rgb(81, 255, 1) url(image/GLC.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    filter: saturate(0%);
}

.container .section:nth-child(4):hover {
    filter: saturate(100%);
}

.container .section:nth-child(5) {
    background: rgb(1, 120, 255) url(images/E-Class\ Cabriolet.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    filter: saturate(0%);
}

.container .section:nth-child(5):hover {
    filter: saturate(100%);
}

.page3-heading {
    font-size: 100px;
    color: #fff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 10px 10px;
}




/* Footer */

.container1 {
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.container1 h1{
    color: rgb(252, 252, 252);
    padding-bottom: 50px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer {
    background-color: black;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
    
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}